body {
	text-align: center;
}

.alert {
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	background: #5C0000;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
}

.alert__title {
	font-size: 1.2rem;
}

html:not(.canvas) .outdated-browser-alert {
	display: none;
}
