body {
	text-align: center;
}

.alert {
	display: none;
	width: 100%;
	height: auto;
	padding: 0.75em 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #7F2121;
	color: #E4AEAE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 700;
}

.alert a,
.alert a:visited {
	color: #fff;
	text-decoration: none;
}

.alert a:hover,
.alert a:active {
	text-decoration: underline;
}

.alert__title {
	text-transform: uppercase;
}

html:not(.canvas) .outdated-browser-alert {
	display: block;
}
